header {
    padding:20px 0;
}

.first_line {
    @include flex($justify-content:flex-start);
}

.second_line {
    @include flex($justify-content: space-between);

    .inputsearch {
        position: relative;
        width: 100%;
        @include flex($justify-content:flex-start);
        svg {
            position: absolute;
            z-index: 99;
            left: 10px;
            height: 20px;
            width: 20px;
        }

        input {
            outline: none;
            border: 1px solid rgba(216, 211, 211, 0.247);
            width: 90%;
            height: 40px;
            padding-left: 40px;
        }
    }
.drop-language{
    position: relative;
    .language {
        @include flex();
        cursor: pointer;
        span {
            @include flex();
            font-size: 18px;
            padding: 0 10px;
            font-weight: 400
        }

        .arrow_icon {
            @include flex();
        }
    }
    .drop{
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 40px;
        z-index: 999;   
        display: none;
       .drop-list{
            width:100px;
            li{
                @include flex();
                background-color: #f9f9f9;
                border-bottom: 1px solid rgba(128, 128, 128, 0.5);
                transition: .4s;
                &:hover{
                    background-color: #ddd;
                }
                a{
                    padding: 10px 0;
                    font-size: 16px;
                    color: #111;
                }
            }
           
           
        }
    }
}
}
.third_line {
    @include flex($justify-content: flex-end);
    height: 100%;

    li {
        margin-left: 20px;

        .count {
            @include flex();
            border-radius: 50%;
            width: 30px;
            height: 30px;
            color: #fff;
            background-color: #ED008C;
        }
    }
}

@media only screen and (max-width:992px) {
header{
    display: none;
}
}