header {
    height: 80px;
    @include flex();
}

.first_line {
    @include flex();
}

.second_line {
    @include flex($justify-content: space-between);

    .inputsearch {
        width: 100%;
        @include flex();
        position: relative;

        svg {
            position: absolute;
            z-index: 99;
            left: 35px;
            height: 20px;
            width: 20px;
        }

        input {
            outline: none;
            border: 1px solid rgba(216, 211, 211, 0.247);
            width: 90%;
            height: 40px;
            padding: 0 40px;
        }
    }

    .language {
        @include flex();
        cursor: pointer;

        span {
            @include flex();
            font-size: 18px;
            padding: 0 10px;
            font-weight: 400
        }

        .arrow_icon {
            @include flex();

        }
    }
}

.third_line {
    @include flex($justify-content: flex-end);
    height: 100%;

    li {
        margin-left: 20px;

        .count {
            @include flex();
            border-radius: 50%;
            width: 30px;
            height: 30px;
            color: #fff;
            background-color: #ED008C;
        }
    }
}