nav {
    background-color: #111;
}

.navbar_header {
    height: 50px;
    @include flex();

    .navbar {
        @include flex($justify-content: flex-start);


        li {
            margin-right: 20px;

            a {
                font-size: 16px;
                color: #fff;
                text-transform: uppercase;
                transition: .4s;
            }

            &:hover a {
                color: red;
            }
        }
    }

}

@media only screen and (max-width:992px) {
    nav {
        display: none;
    }
}