#sponsor {
    background: $background-card;
    padding: 30px 0;

    .section4_overflow {
        overflow: scroll;

        &.section4_overflow::-webkit-scrollbar {
            display: none;

            .sponsor_corusel {
                @include flex();

            }
        }

        .section4_row {
            display: flex;
            align-items: center;
        }

        .sponsor_cards {
            @include flex();
            width: 150px;
            height: 80px;
            border-radius: 8px;
            background: $header-bg-color;

        }

    }

    .sponsor_paggination {
        padding: 20px 0;
        @include flex();

        button {
            cursor: pointer;
            border: 1px solid #fff;
            margin-right: 10px;
            width: 10px;
            height: 10px;
            background: #E0E0E0;
            border-radius: 50%;
        }

        .active {
            background-color: #111;
        }
    }


}