@mixin flex($align-items:center,$justify-content:center){
display: flex;
align-items:$align-items;
justify-content:$justify-content;
}

@mixin flexdirection($flex-direction:column, $justify-content:space-between){
    display:flex;
    flex-direction:$flex-direction;
    justify-content:$justify-content ;
}