$header-bg-color: #fff;
$button_bg_color: #fff;
$background-card: #FAF9F9;
$background-color: #fff;
$background-end: #F0F0F0;
$background-contact: #111;
$addition_span1: #7B61FF;
$addition_span2: #2E3A59;
$color-card_title: #1D2123;
$color: #828282;
$primary-pink: #ED008C;